@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  cursor: none;
  background-color: #0f0f11;
  color: white;
  overflow-x: hidden;
  font-family: var(--font-sans);
}

/* Fallback */
* {
  cursor: none;
}